*.dmg filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.task filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/@next/swc-darwin-arm64/next-swc.darwin-arm64.node filter=lfs diff=lfs merge=lfs -text
frontend/.next/cache/webpack/client-development/42.pack.gz filter=lfs diff=lfs merge=lfs -text
backend/ai-service/app/proctor/models/weights/shape_predictor_68_face_landmarks.dat filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_SA_3.0-00001-of-00007.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_3.0-00000-of-00009.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_3.0-00004-of-00009.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_SA_3.0-00005-of-00007.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_ND_3.0-00001-of-00002.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_SA_3.0-00000-of-00007.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_3.0-00001-of-00009.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_3.0-00005-of-00009.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_ND_3.0-00000-of-00002.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_SA_3.0-00004-of-00007.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_3.0-00002-of-00009.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_SA_3.0-00003-of-00007.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_3.0-00006-of-00009.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_3.0-00003-of-00009.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_SA_3.0-00002-of-00007.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_3.0-00008-of-00009.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_SA_3.0-00006-of-00007.parquet filter=lfs diff=lfs merge=lfs -text
ml/softskills/datasets/fluency/podcast-fillers-hf/data/CC_BY_3.0-00007-of-00009.parquet filter=lfs diff=lfs merge=lfs -text
AI-Powered-Video-Transcription-And-Summarization-main/venv/lib/python3.10/site-packages/llvmlite/binding/libllvmlite.dylib filter=lfs diff=lfs merge=lfs -text
AI-Powered-Video-Transcription-And-Summarization-main/venv/lib/python3.10/site-packages/torch/lib/libtorch_cpu.dylib filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.14/site-packages/torch/lib/libtorch_cpu.dylib filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.14/site-packages/pyarrow/libarrow.2200.dylib filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-a0a609ad6194ecd568300c88dc49b93b82e27a97.pack filter=lfs diff=lfs merge=lfs -text
.git/objects/e0/ec20d69ac9195f056214f071e12afcfe714199 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/fb/dc/fbdc2cb80eb9aa7a758672cbfdda32ba6300efe9b6e6c7a299ff7e736b11b92f filter=lfs diff=lfs merge=lfs -text
/backend/ai-service/app/proctor/models/weights/shape_predictor_68_face_landmarks.dat filter=lfs diff=lfs merge=lfs -text
/try/pdfs/Docker.dmg filter=lfs diff=lfs merge=lfs -text
